{% extends "base2.html" %}
{% block content %} 
<div class="flex justify-between h-4/5">
  <div class="flex"></div>
  <div class="flex border-2 w-5/6 rounded p-3 mt-2 bg-gray-200 ">
    <img class="object-contain h-3/6 m-1" src="/static/agilman.jpg">
    <span class="font-semibold pl-2"> 
      Hello!
      <br>
      My name is Alexander 'Sasha' Gilman. I am a software engineer and an arborist. 
      <br>
      <span>
      I am also the Vice President of the <a href="https://www.buf.org" class="underline">Bellingham Unitarian Fellowship </a>.
      </span>
      <br>
      <br>
      In my spare time I enjoy spinning poi, and gardening. 
      <br>
      I have a backyard nursery where I propagate plants and mosses. Some of my favorites include Japanese maples, madrones, mulberries, figs, plums, hazelnuts, and black walnuts.

      <br>
      <br>
      In 2014-2015 I traveled by bicycle from Portland, Oregon to Southern Mexico.
      
      <br>
      <br>
      I currently reside in Bellingham, Washington.

      <br>
      <br>
      check out my efforts to map the trees in the <a href="https://trees.agilman.org" class="underline">parks around Bellingham</a>
    </span>

  </div class="flex">
  <div></div>
</div>
{% endblock %}