{% extends "base2.html" %}
{% block content %} 
<div class="flex justify-between h-4/5">
  <div class="flex"></div>
  <div class="flex border-2 w-5/6 rounded p-3 mt-2 bg-gray-200 ">
    <img class="object-contain h-4/6 m-1" src="/static/agilman.jpg">
    <span class="font-poppins pl-2">
      Hello!
      <br>
      My name is Alexander 'Sasha' Gilman. I am a software engineer and an arborist.
      <br>
      I am also the Vice President of the <a href="https://www.buf.org" class="text-cyan-700 hover:text-cyan-800 hover:font-semibold">Bellingham Unitarian Fellowship </a>.
      <br>
      <br>
      Currently, I reside in Bellingham, Washington. I attended Portland State University and I have previously lived in Israel and Latvia. Along with English, I also speak Russian, Hebrew and Spanish.
      <br>
      When not busy coding I enjoy horticulture, biking and spinning poi. I have a backyard nursery where I propagate unusual plants and mosses. Some of my favorites include Japanese maples, Pacific Madrona, mulberries, figs, and black walnuts. In 2014-2015 I traveled by bicycle from Portland, Oregon to Southern Mexico and founded a travel blogging startup.
      <br>
      <br>
      Check out my recent software development efforts to map the trees in the <a href="https://trees.agilman.org" class="text-cyan-700 hover:text-cyan-800 hover:font-semibold">parks around Bellingham</a>
    </span>

  </div class="flex">
  <div></div>
</div>
{% endblock %}